[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
langchain = "*"
qdrant-client = "*"
openai = {extras = ["embeddings"], version = "*"}
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.11"
