<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}" />
    <script src="{{url_for('static', filename='chat.js')}}"></script>
  </head>
  <body>
    <div class="window">
      <div class="heading">My Chatbot</div>
      <div class="messages">
        <div class="received">Hi there!</div>
      </div>
      <div class="controls">
        <input type="text" />
        <button onclick="sendMessage()">Send</button>
      </div>
    </div>
  </body>
</html>
